
#Jinja2==2.7.1
Jinja2

#markupSafe==0.18
markupSafe

#SQLAlchemy==0.7.9
SQLAlchemy

#Tempita==0.5.1
Tempita

#Twisted==13.2.0
Twisted

#argparse==1.2.1
argparse

#buildbot==0.8.8
buildbot

#buildbot-slave==0.8.8
buildbot-slave

#decorator==3.4.0
decorator

#distribute==0.7.3
distribute

#mercurial==2.8
mercurial

#python-dateutil==1.5
python-dateutil

#sqlalchemy-migrate==0.7.2
sqlalchemy-migrate

#wsgiref==0.1.2
wsgiref

#zope.interface==4.0.5
zope.interface
